$primary: #008000ff;
$secondary: #004b00ff;

@import "~bootstrap/scss/bootstrap.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header.masthead {
  padding-top: 6rem + 4.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: $white;
  background-image: url("/images/dragon.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;

  .masthead-subheading {
      font-size: 1.5rem;
      font-style: italic;
      line-height: 1.5rem;
      margin-bottom: 25px;
      // font-family: $subheadings-font-family;
  }

  .masthead-heading {
      font-size: 3.25rem;
      font-weight: 700;
      line-height: 3.25rem;
      margin-bottom: 2rem;
      // font-family: $headings-font-family;
  }
}

section {
  padding: 50px 0;
}

footer {
  color: white;
  padding: 75px 0;
  p {
    margin-bottom: 0;
  }
}

.copy-right {
  color: white;
  padding: 25px 0;
  p {
    margin-bottom: 0;
  }
}

.toast-container {
  position: fixed;
  z-index: 100;
  width: 90%;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

// @-webkit-keyframes fadeinout {
//   0%, 100% { opacity: 0; }
//   50% { opacity: 1; }
// }

// @keyframes fadeinout {
//   0%, 100% { opacity: 0; }
//   50% { opacity: 1; }
// }